/* --------- STYLING FOR THE ENTIRE PAGE --------- */
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    cursor: default;
    background-color: var(--color-white);
    scroll-behavior: smooth;
}

/* -------------- GLOBAL VARIABLES --------------- */
:root{
    --color-white: #ffffff;
    --font-weight-bold: bold;
    --font-weight-bolder: 800;
}

/* -------------- GLOBAL VARIABLES --------------- */
button {
  background-color: var(--color-blue);
}

button:hover{
  background-color: var(--color-lightblue);
}

/* ------------- GENERAL TEXT STYLING ------------ */
p {
    color: var(black);
    padding: 0 0 0 0; /* top, right, bottom, left*/
    margin: 0 0 4px 0;
}

.title {
    font-size: clamp(30px, 5vw, 95px); /* clamp makes the font size responsive */
    font-weight: var(--font-weight-bolder);
}

.subtitle{
    font-size: clamp(25px, 5vw, 40px);
    font-weight: var(--font-weight-bold);
}

.text-bigger{
    font-size: clamp(12px, 5vw, 30px);
}

.text{
    font-size: clamp(12px, 5vw, 23px);
}

.text-small{
    font-size: clamp(8px, 5vw, 16px);
}

.underline{
    text-decoration: underline;
    text-decoration-color: var(black);
}

.bold{
    font-weight: var(--font-weight-bold);
}

/* ----------- GENERAL BUTTON STYLING ------------ */
.buttons {
    width: clamp(160px, 5vw, 250px);
    padding: 8px 16px;
    font-size: clamp(3px, 5vw, 12px);
    font-weight: var(--font-weight-bold);
    color: var(white);
    border: none;
    border-radius: 50px;
    transition: background-color 0.2s;
    cursor: pointer;
}

/* ------- GENERAL BACKGROUND-IMAGE STYLING ------ */
.background-image {
    height: auto;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 90vh;
}

.logo-image{
    width: 50px;
    height: auto;
}

/* -------- GENERAL LIST / LINKS STYLING -------- */
ul {
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

li a {
    color: var(black);
    font-weight: var(--font-weight-bold);
}

a {
    color: var(black);
    text-decoration: none;
    
}

a:link {
  color:black;

}

a:visited {
  color: black;

}

a:hover{
    text-decoration: underline;
    text-decoration-color: var(black);
    cursor: pointer;

}

/* ----------- HEADER AND BURGER MENU ----------- */
#navbar {
  padding: 10px 15px;
  background-color: grey;
}
  
#navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#forsiktigt-logo {
  display: flex;
  align-items: center;
}

.start-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-styling{
    margin-right: 40px;
}

/* ----------- INTRODUCTION SECTION ------------ */
#introduction-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#introduction-text {
  max-width: 800px;
}

/* ------------- Presentation -------------- */
#presentation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#presentation-title {
  margin: 0 0 0 0;
}

#presentation-text {
  max-width: 800px;
}

/* ------------- pitch-demo-section -------------- */

#pitch-demo-section {
  background-color: blue;
  display: flex;
  flex-direction: row;
}





/* ------------------ FOOTER ------------------- */
.footer-section {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  background-color: #f5f5f5;
  box-sizing: border-box; /* padding included in the width */
}

.footer-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-content {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 50px 0;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}